@media screen and (min-width: 319px) {

.hello{
    .navigation {
        overflow-x: auto;
        overflow-y: hidden;
        overflow-x: visible;
        width: calc(100vw);
    }
    .article {

         &__text--size {
            width: calc(90vw);
            max-height: 90px;
            overflow: hidden;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        &__text--less{
                max-height: 100vh;
        }
        &__content--size {
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 16px;
        }
        &__image {
            width: calc(90vw);
            height: auto;
        }
    }
    
}
}