@media screen  and (min-width: 1120px) {

.hello{

    .header--hello {
        display: none;
    }

    .main {
    &__title--position {
        margin-top: 0;
        margin-bottom: 0;
    }

    &__wrapper {
        flex-direction: row;
        align-items: center;
    }

    &__menu--hidden {
        display: flex;;
    }

    &__header {
        padding-top: 42px;
        padding-left: 33px;
        padding-right: 33px;
        padding-bottom: 16.22px;
        gap: 8px;
    }
    }

    .article {
    &__text {
        max-height: 160px;
        flex-basis: 490px;
        overflow: hidden;

        &--less {
            max-height: 100vh;
        }
    }

    &__content--size {
        padding-left: 32px;
    }

    &__content--size {
        min-width: 490px;
        min-height: 160px;
        padding-left:35px;
        padding-right: 35px;

    }

    &__image {
        padding-left:0;
        padding-right: 30px;
        min-width: 360px;
        flex:1;

    }
    }
    

    .navigation {
        overflow-x: initial;
        height: 82px;
    

    &__link-hidden {
        display: none;
    }

    &__list {
        flex-wrap: wrap;
        overflow-x: clip;
    }
}
    .main{
    &__section {
        padding-bottom: 40px;
    }

    &__title::before {
        left: -32px;
    }

    &__section {
        padding-bottom: 49px;
    }
}
}
}
