@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";
@import "base";

 .blur {
    display: none;
 }
@media screen  and (min-width: 1439px) {
  .blur {
    display: none;
  }
  .side-menu { 
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  .window {
    padding-left: 320px;
  }

  
  .menu-burger-button, .menu-burger-button--exit {
    display: none;
  }  
}

.blur {
    backdrop-filter: blur(5px);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 20;
}
body {
  display: flex;
  overflow-x: hidden;
  transition: display .5s linear;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
