@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";
@import "base";

@media screen  and (max-width: 1120px) {
  .side-menu { 
    display: none;
  }

  .logo {
    margin-left: 17px;
  }
  .menu-burger-button--exit {
    display: flex;
  }  
}

body {
  display: flex;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
